<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syouketu.modules.project.mapper.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.syouketu.modules.project.entity.Template">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
    </resultMap>

    <resultMap id="TemplateView" type="com.syouketu.modules.project.dto.output.TemplateView" extends="BaseResultMap">
        <result column="project" property="project"/>
    </resultMap>

    <select id="selectTemplates" resultMap="TemplateView">
        SELECT
        t.*,
        p.name AS 'project'
        FROM pj_template t
        LEFT JOIN pj_project p ON t.project_id = p.id
        WHERE
        1 = 1
        <if test="filter.id!=null">
            AND t.id = #{filter.id}
        </if>
        <if test="filter.projectId!=null">
            AND t.project_id = #{filter.projectId}
        </if>
        ORDER BY t.id DESC
    </select>
</mapper>
